/* ==UserStyle==
@name           Elastic Cloud highlight instances by type
@description    Highlight instances by type e.g. data tier in Elastic Cloud 'Overview' page for an Elastic Deployment
@namespace      https://github.com/sparrowt
@version        0.2
@author         T Sparrow
@homepageURL    https://github.com/sparrowt/myuserstyles
@updateURL      https://github.com/sparrowt/myuserstyles/raw/main/elastic-cloud-deployment-instances.user.css
==/UserStyle== */

@-moz-document url-prefix("https://cloud.elastic.co/deployments/") {
    li[data-test-id="node-attr-es-type--data-hot"] > div {
        background-color: #ae0000;
    }

    li[data-test-id="node-attr-es-type--data-warm"] > div {
        background-color: #a86d00;
    }

    li[data-test-id="node-attr-es-type--data-cold"] > div {
        background-color: #1700c0;
    }

    .euiPanel:has(li[data-test-id="node-attr-es-type--data-hot"])[data-test-id="elasticsearch-tile"] {
        background-color: #390000;
    }

    .euiPanel:has(li[data-test-id="node-attr-es-type--data-warm"])[data-test-id="elasticsearch-tile"] {
        background-color: #392500;
    }

    .euiPanel:has(li[data-test-id="node-attr-es-type--data-cold"])[data-test-id="elasticsearch-tile"] {
        background-color: #0b0063;
    }

    .euiPanel:has(li[data-test-id="node-attr-es-type--ml"])[data-test-id="elasticsearch-tile"] {
        background-color: #032c00;
    }

    .euiPanel:has(li[data-test-id="node-attr-es-type--master-eligible"])[data-test-id="elasticsearch-tile"],
    .euiPanel:has(li[data-test-id="node-attr-es-type--master"])[data-test-id="elasticsearch-tile"] {
        background-color: #333;
    }
}
